{%extends "base.html"%}


{%block content%}

<form method="post">
    {{form.csrf_token}}
    <!-- 유효성 검사 결과 -->
    {%include "form_errors.html"%}

    <div class="mb-3">
      <label for="username" class="form-label">사용자 이름</label>
      <input class="form-control" id="username" name="username" value="{{form.username.data or ''}}">
      <button id="checkusername" type="button">사용자 중복검사</button>
      <p id="checkusernameresult"></p>

    </div>
    <div>
      <a href={{url_for('test.check_id')}}>아이디 중복검사</a>
    </div>

    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password1" name="password1">
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Password</label>
        <input type="password" class="form-control" id="password2" name="password2">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">이메일</label>
        <input type="email" class="form-control" id="email" name="email" value="{{form.email.data or ''}}">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


{% endblock%}

{%block script%}
<script>
$(document).ready(function(){
    $("#checkusername").click(function(){
        let username = $("#username").val();

        if(username==""){
          $("#username").focus();
        }
        
        $.ajax({
            url: "/auth/checkusername/"+username,
            type: "GET",
            dataType: "text",
            // processData:false, //
            // contentType:false,
            
            success: function(result){
                  

                  if(result==1){$("#checkusernameresult").text("사용가능");} 
                  else if(result==-1){              
                  $("#checkusernameresult").text("사용불가능"),
                  $("#username").focus();
                  };
            }



        });

    });
});


</script>

{%endblock%}

